body {
    margin: 0;
    align-items: center;
    background-color: #111;
    font-family: "Poppins", sans-serif;
    color: #f5f5f5;
  }

header {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 2px solid #ff9b00;
}

h1 {
  color: #ff9b00;
  text-align: center;
  font-size: 35px;
}

h2 {
  color: #f5f5f5;
  text-align: center;  
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    width: 90%;
    max-width: 1200px;
    padding: 2rem 0;
    margin: 0 auto; 
  }

  .menu-section {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }

  .menu-section h2 {
    text-align: center;
    color: #ff9b00;
    border-bottom: 1px solid #ff9b00;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  }

  li span.price {
    color: #f5f5f5;
    font-weight: bold;
  }

footer {
  background-color: #111;
  text-align: center;
  padding: 25px;
  border-top: 2px solid #ff9b00;
  margin-top: 25px;
}

footer a {
  color: #ff9b00;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
    header h1 {
      font-size: 1.6rem;
    }
  }








.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
  transform: scale(1.5);
  transform-origin: left center;
}

.logo span {
  color: #ff9b00;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #ff9b00;
}


