html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #b6ad90;
  color: #271506;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 100px;
}

main { 
  flex: 1; 
}

header {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-bottom: 0px solid rgba(255, 155, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box; 
  margin-right: 0; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
  width: auto;
  transform: scale(1.3);
  transform-origin: left center;
}

.logo span {
  color: #271506;
  font-size: 1.75em;
  font-weight: 1000;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 25px;
}

nav a {
  color: #333d29;
  text-decoration: none;
  font-weight: 1000;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav a:hover {
  color: #656d4a;
}


.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px 80px;
  min-height: 100vh;
  box-sizing: border-box;
}

.home-content {
  width: 50%;
  max-width: 550px;
  text-align: left;
}

.home-content h1 {
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  color: #271506;
  text-align: left;
}

.home-content h1 span {
  color: #333d29;
}

.home-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.home-content p span{
  color: #333d29;
  font-weight: 1000;
}

.home-content .highlight {
  color: #333d29;
  font-style: italic;
}

.btn {
  display: inline-block;
  background-color: #333d29;
  color: #f7ffdc;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  margin: 5px 0px;
}

.btn:hover {
  background-color: #1c2315;
}


.home-slideshow {
  width: 45%;
  max-width: 360px;
  aspect-ratio: 3 / 4;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

@keyframes fade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

.slide:nth-child(1) { animation: fade 21s infinite; animation-delay: 0s; }
.slide:nth-child(2) { animation: fade 21s infinite; animation-delay: 3s; }
.slide:nth-child(3) { animation: fade 21s infinite; animation-delay: 6s; }
.slide:nth-child(4) { animation: fade 21s infinite; animation-delay: 9s; }
.slide:nth-child(5) { animation: fade 21s infinite; animation-delay: 12s; }
.slide:nth-child(6) { animation: fade 21s infinite; animation-delay: 15s; }
.slide:nth-child(7) { animation: fade 21s infinite; animation-delay: 18s; }

.caption {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #bcc4a1;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  backdrop-filter: blur(3px);
}



footer {
  background-color: #333d29;
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;
}

.footer-section {
  max-width: 300px;
}

.footer-section h3 {
  color: #bcc4a1;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-section p {
  color: #bcc4a1;
  margin-bottom: 3px;
  
}

.footer-section a {
  color: #bcc4a1;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.hover-img {
  display: inline-block;
  position: relative;   
  width: 30px;
  height: 30px;
}

.hover-img img {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease; 
}

.hover-img .hover {
  opacity: 0;   
}

.hover-img:hover .hover {
  opacity: 1;  
}

.hover-img:hover .normal {
  opacity: 0;   
}



.menu-icon {
  display: none;
  font-size: 28px;
  color: #271506;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}




.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 90%;
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto; 
}

.menu-section {
  background: #a9a185;
  border-radius: 12px;
  padding: 1.5rem;
}

.menu-section h2 {
  text-align: center;
  color: #3e2b1b;
  border-bottom: 1.5px solid #64703b;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
  border-bottom: 1px dashed #656d4a;
}

li span.price {
  color: #2b4216;
  font-weight: bold;
}

.form1, .form2 {
  margin: 0 auto 25px;
  padding: 15px;
  border-radius: 25px;
  width: 90%;
  display: grid;
  background-color: #a9a185;
}

.form3 {
  margin: 0 auto 25px;
  padding: 15px;
  border-radius: 25px;
  width: 90%;
  background-color: #a9a185;
  gap: 15px;
}

input, textarea {
  border: none;
  border-radius: 10px;
  background-color: #8a836a;
  color: #2c2009;
  padding: 5px;
  margin: 0px;
}

input::placeholder, textarea::placeholder {
  color: #56513e;
}

textarea {
  resize: none;
}


input[type="number"] {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  margin: 10px;
  accent-color: #4f5636;
}

input[type=button], input[type=submit] {
  background-color: #333d29;
  border: none;
  color: #f7ffdc;
  padding: 10px;
  margin: 10px auto;
  width: 20%;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #1c2315;
}

table {
  margin: 0 auto;
}

th {
  padding: 5px;
  text-align: center;
  color: #333d29;
  border-bottom: 1px solid #5f5f5f;
  font-size: larger;
}

td {
  padding: 5px;
  text-align: center;
  color: #271506;
  border-bottom: 0.5px dashed #2c2009;
}

td:nth-child(even) {
  color: #2b4216;
}


h1 {
  color: #271506;
  text-align: center;
  font-size: 35px;
}

h2 {
  color: #333d29;
  text-align: center;  
}

h3 {
  color: #333d29;
  text-align: center;  
  padding-left: 50px;
  padding-right: 50px;
  font-weight: normal;
}

label {
  color: #271506;
}


.map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

iframe {
    border: 0;
    width: 90%;
    height: 400px;
    border-radius: 15px;
}

.kontak {
  margin: 0 auto 25px;
  padding: 15px;
  border-radius: 25px;
  width: 90%;
  display: grid;
  background-color: #a9a185;
  place-items: center; 
  text-align: center;
}

.kontak .btn {
  width: 30%;
  text-align: center;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 15px;
}




@media (max-width: 900px) {
  body {
    padding-top: 90px;
  }
  
  .home {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px 60px;
    gap: 40px;
  }

  .home-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    order: 1;
  }

  .home-slideshow {
    width: 80%;
    max-width: 360px;
    aspect-ratio: 3 / 4;
    height: auto;
    margin: 0 auto;
    order: 2;
  }

  .slide {
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .home-content h1 {
    font-size: 2em;
    text-align: center;
  }
  
  .home-content p {
    text-align: center;
  }
}


@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
  
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px 50px;
    gap: 35px;
    min-height: calc(100vh - 80px);
  }

  .home-content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    order: 1;
  }

  .home-slideshow {
    width: 85%;
    max-width: 320px;
    aspect-ratio: 3 / 4;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    order: 2;
  }

  .slide {
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .caption {
    bottom: 10px;
    font-size: 0.9em;
    padding: 4px 10px;
  }

  .home-content h1 {
    font-size: 1.8em;
    margin-bottom: 15px;
    line-height: 1.2;
    text-align: center;
  }

  .home-content p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 12px;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 20px auto; 
    text-align: center;
}

  nav ul {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 45%;
    height: calc(100vh - 80px);
    background: #a39b7e;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    gap: 20px;
    transition: right 0.4s ease;
    z-index: 999;
  }

  nav ul li {
    margin: 0;
  }

  nav a {
    font-size: 1.1em;
    display: block;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
  }

  #menu-toggle:checked ~ nav ul {
    right: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: #271506;
    cursor: pointer;
  }

  header {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 20px;
    height: 80px;
  }

  .logo span {
    font-size: 1.2em;
    margin-left: 12px;
  }

  .logo img {
    height: 45px;
    transform: scale(1.1);
  }
  
  .menu-container {
    grid-template-columns: 1fr;
    width: 95%;
    padding: 1rem 0;
  }

  footer { 
    padding: 25px 25px;
  }

  .footer-container {
    margin: 5px 0; 
    gap: 5px;
  }

  .footer-section {
    margin: 5px 0;
  }

  #logo {
    width: 100px;  
    padding-top: 10px;
  }
}

/*
@media (max-width: 395px) {
  body {
    padding-top: 70px;
    overflow-x: hidden; 
  }
  
  header {
    padding: 8px 15px;
    height: 65px;
  }

  .logo img {
    height: 38px;
    transform: none;
  }

  .logo span {
    font-size: 1em;
    margin-left: 8px;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 15px 45px;
    gap: 20px;
    min-height: calc(100vh - 65px);
  }

  .home-content {
    width: 100%;
  }

  .home-content h1 {
    font-size: 1.5em;
    line-height: 1.3;
  }

  .home-content p {
    font-size: 0.9em;
    line-height: 1.5;
    margin: 8px 0;
  }



  .home-slideshow {
    width: 95%;
    max-width: 280px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
  }

  .slide img {
    height: 220px;
    object-fit: cover;
  }


  nav ul {
    top: 65px;
    height: calc(100vh - 65px);
    padding-top: 25px;
    background: rgba(0, 0, 0, 0.95);
    transition: right 0.4s ease;
  }

  nav a {
    font-size: 1em;
    padding: 10px;
  }


  footer {
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    padding: 10px 0;
  }

  .form1, .form2, .form3 {
    margin: 15px 0px 0px 15px;
  }

  label {
    font-size: 0.9em;
    text-align: center;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 0.9em;
    border-radius: 8px;
  }

  textarea {
    min-height: 80px;
  }

  input[type="radio"] {
    transform: scale(1.1);
    margin: 6px;
  }

  input[type="submit"],
  input[type="button"] {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    margin: 15px auto 5px;
    border-radius: 8px;
  }

  table {
    width: 100%;
    font-size: 0.85em;
  }

  th, td {
    padding: 4px;
  }

}
*/
